@import url('https://fonts.googleapis.com/css2?family=Anton&family=Oswald:wght@700&display=swap');
@import "tailwindcss";

@theme {
  /* This creates the --font-impact variable and the font-impact utility */
  --font-impact: "Anton", sans-serif;
}
.perspective-1000 { perspective: 1000px; }
.preserve-3d { transform-style: preserve-3d; }
.backface-hidden { backface-visibility: hidden; }
.rotate-y-180 { transform: rotateY(180deg); }